/* --- !! UNIVERSAL STYLES !! --- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* FONT FAMILY */
    font-family:  "Rubik", serif;
    font-weight: 400;
    font-size: 16px;
}

body {
    color: var(--black) !important;
}

:root {
    /* COLOR VARIABLES */
    --red: #d84116;
    --blue: #216196;
    --yellow: #f5c741;
    --sky: #85cee4;
    --black: #061018;
    --gray: #f2f2f2;
    --white: #fcfcfc;
}

.bg-white {
    background-color: var(--white) !important;
}

/* --- !! NAVBAR STYLES !! --- */

.navbar-brand img {
    height: 2rem;
}

.bg-navbar {
    background-color: var(--white) !important;
}

/* --- !! HEADER STYLES !! --- */

header {
    margin-top: 6rem;
}