/* --- !! SECTION STYLES !! --- */

section {
  margin: 3rem 0rem 3rem 0rem;
}

/* --- !! HEADER STYLES !! --- */

header {
  margin-top: 7rem;
}

header .item {
  background-color: var(--red) !important;
}

header .item img {
  min-height: 20vw;
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  display: block;
}

header .row, header .item {
  margin-right: 0 !important;
}

/* --- !! CTA SECTION STYLES !! --- */

.cta-section {
  background-color: var(--gray);
}

/* --- !! INFORMATIVE SECTION STYLES !! --- */

.info-img-resizing {
  width: 100%;
  object-fit: contain;
  -o-object-fit: contain;
  height: 252px;
}

/* --- !! PATTERN DIVIDER STYLES !! ---
  
  .pattern-divider {
    background-image: url(../imgs/Pattern\ Frolly.svg);
    min-height: 25vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */

/* --- !! HIGHLIGHTED SECTION STYLES !! --- */

#featured-products .product-card {
  background-color: #fff;
  border: 2px solid #ff6347;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

#featured-products .product-card:hover {
  transform: scale(1.05);
}

#featured-products .product-image img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #ff6347;
}

#featured-products .product-title {
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
}

#featured-products .product-price {
  color: #ff6347;
  font-size: 1.1rem;
  padding: 10px;
}

/* --- !! CARD STYLES !! --- */

.card-img-top {
  width: 100%;
  object-fit: contain;
  -o-object-fit: contain;
  padding: 1rem;
  height: 45%;
}

.card-body {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: space-between;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-bottom: 1rem;
}

/* --- !! TESTIMONIALS SECTION STYLES !! --- */

.testimonials {
  background-color: #f9f9f9;
}

.testimonial-card {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.testimonial-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.testimonial-card p {
  font-style: italic;
  color: #555;
}

.testimonial-card h5 {
  margin-top: 15px;
  font-weight: bold;
  color: #333;
}
