/* --- !! MAIN STYLES !! --- */

main {
    margin: 7rem 0rem 3rem 0rem;
}

/* --- !! CONTENT HEADER STYLES !! --- */

.content-header {
    display: flex;
    flex-direction: column;
}

/* --- !! CARD STYLES !! --- */

.list-group {
    border: none !important;
}

/* Style for the alert to appear at the top right on larger screens */
#purchase-alert {
    z-index: 1050; /* Higher than most elements for visibility */
    max-width: 300px;
}

/* Center the alert on smaller screens */
@media (max-width: 576px) {
    #purchase-alert {
        left: 50%;
        transform: translateX(-55%);
        width: 100%;
    }
}