/* --- !! MAIN STYLES !! --- */

main {
    margin: 7rem 0rem 3rem 0rem;
}

/* --- !! PAGE HEADER STYLES !! --- */

.page-header {
    background-color: var(--red);
    color: var(--white);
}

/* --- !! CONTENT HEADER STYLES !! --- */

.content-header {
    display: flex;
    flex-direction: column;
}

/* --- !! CARD STYLES !! --- */

.list-group {
    border: none !important;
}

.card-img-top {
    width: 100%;
    object-fit: contain;
    -o-object-fit: contain;
    padding: 1rem;
    height: 45%;
}

.card-body {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-between;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 1rem;
}

/* Style for the alert to appear at the top right on larger screens */
#purchase-alert {
    z-index: 1050; /* Higher than most elements for visibility */
    max-width: 300px;
}

/* Center the alert on smaller screens */
@media (max-width: 576px) {
    #purchase-alert {
        left: 50%;
        transform: translateX(-55%);
        width: 100%;
    }
}

/* --- !! CART STYLES !! --- */

.item-in-cart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.item-in-cart button {
    width: fit-content;
}